/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
*.bak
/public/mix-manifest.json
.vscode/settings.json
public/css/user.css
/public/js/app.js.LICENSE.txt
public/css/reservations.css
public/css/style.css
public/js/bundle.min.js
.DS_Store
public/js/app.js
public/css/user.css
public/css/costumes.css
public/css/app.css
public/css/album.css
public/dist/js/app.js
public/dist/css/app.css

package-lock.json
composer.lock